*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
body {
    font-family: Kyiv*Type Serif;
    box-sizing: border-box;
    font-size: 1.5rem;
    background-color: rgba(119, 8, 8, 0.925);
    
}
.title h1{
    text-align: center;
    color: white;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.buttonvolt{
    position: absolute;
    top: 3rem;
    left: 3rem;
}
.buttonvolt a{
    text-decoration: none;
    color: white;
    font-size: 5rem;
}
.linha{
    height: 100%;
    width: 100%;
    margin-bottom: 8rem;
}
.CaixaDoForm{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    border-image: url("../Assests/img/moldura.png") 200 / 10rem round;
    border-style: solid;
    padding: 6rem;
}
@media screen and (max-width: 1000px ) {
    .CaixaDoForm{
        width: 80%;
    }
    .title h1{
        margin-top: 10rem;
    }
}
.formulario{
    height: 100%;
}
.formDoCadastro{
    height: 100%;
    font-size: 4rem;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.INFO{
    display: flex;
    flex-direction: column;
}
input{
    height: 4rem;
    font-size: 2.5rem;
    padding: 1rem;
    color: rgba(119, 8, 8, 0.925);
    border-radius: 5px;
    border-color: white;
    margin-bottom: 1.9rem;
}
.artista{
    height: 7rem;
    width: 100%;
    font-size: 2.5rem;
    color: rgba(119, 8, 8, 0.925);
    border-radius: 5px;
    border-color: white;
    margin-top: 1.9rem;
}
.descricaoBox textarea{
    height: 20rem;
    font-size: 2.5rem;
    padding: 1rem;
    color: rgba(119, 8, 8, 0.925);
    border-radius: 5px;
    border-color: white;
}
.butoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.butoes button{
    height: 5rem;
    width: 19rem;
    font-size: 2.5rem;
    color: rgba(119, 8, 8, 0.925);
    border-radius: 5px;
    border-color: white;
    margin-top: 7rem;
}
.butoes button:disabled{
    background-color: transparent;
    color: white;
}
.alert{
    display: none;
    border: 0.5rem solid yellow;
    border-radius: 5px;
    margin: 2rem auto;
    padding: 2rem;
    font-size: 2rem;
    color: yellow
}


















.barrafooter{
    margin-top: 3rem;
    height: 7rem;
    width: 100%;
    background-color: #3B2136;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: white;
    font-family: League Spartan;
    font-size: 2.5rem;
}