:root{
    --espaco: 3rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
body {
    font-family: Kyiv*Type Serif;
    box-sizing: border-box;
    font-size: 1.5rem;
    background-color: rgba(119, 8, 8, 0.925);
    margin-bottom: 10rem;
}
.title h1{
    text-align: center;
    color: white;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.linha{
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.col1-de-4{
    width: calc( ( 100% - var(--espaco)*3 ) / 4 );
    float: left;
    height: 45rem;
    display: flex;
    flex-direction: column;
    flex: 1 2 28rem;
}
.col1-de-4:not(:last-child) {
    margin-right: var(--espaco);
}
.amostra{
    width: 100%;
    height: 100%;
    position: relative;
}
.amostra img{
    max-width: 20rem;
}
.imgA1 img{
    position: absolute; 
    bottom: 3rem;
    left: 3rem;
    z-index: 2;
}
.imgA2 img{
    position: absolute;
    bottom: 0;
    z-index: 3;
}
.imgA3 img{
    position: absolute; 
    bottom: 6rem;
    left: 6rem;
    z-index: 1;
}
.menu-artista{
    font-size: 1.5rem;
    margin-top: 1.7rem;
    color: white;
}
.button{
    height: 8rem;
    margin: 4rem auto;
    width: 30%;
}
.buttonCadastro{
    border-image: url("../Assests/img/moldura.png") 200 / 10rem round;
    border-style: solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonCadastro a{
    text-decoration: none;
    color: white;
    padding: 3.1rem calc( (100% - 18.5rem) /2 ) ;
    font-size: 2rem;
}
.barrafooter{
    margin-top: 3rem;
    height: 7rem;
    width: 100%;
    background-color: #3B2136;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: white;
    font-family: League Spartan;
    font-size: 2.5rem;
}